.item {
  display: flex;
  flex-direction: column;

  & > :nth-child(n) {
    margin: 5px;
  }

  &__image {
    height: 250px;
    align-self: center;
  }
  
  &__description {
    font-size: 14px;
    color: #b2b2b2;
  }
}




