.item {
  display: flex;
  flex-direction: column;

  & > :nth-child(n) {
    margin: 5px 0;
  }

  &__image {
    box-sizing: border-box;
    width: 60%;
    align-self: center;
  }

  &__description {
    font-size: var(--font-sm);
    color: #b2b2b2;
  }
}
