.sec-button {
  display: block;
  width: auto;
  height: auto;
  padding: var(--global-main-btn-padding);
  background: linear-gradient(var(--global-second-btn-bg));
  border-radius: 21px;
  border: none;
  outline: none;
  font-size: calc(var(--standard-font) / 1.1);
  align-items: center;
  text-align: center;
  color: var(--global-color-black);

  cursor: pointer;
}

.sec-button:hover {
  background: var(--global-second-btn-bg-hover);
}

.sec-button:active {
  background: var(--global-second-btn-bg-active);
}
