.Your-Account {
  height: 90px;
  display: flex;
  align-items: center;
}

.Your-Account__photo {
  height: 50px;
}

.Your-Account__text {
  text-decoration: none;
  color: var(--global-color-link-blue);
  font-size: var(--standard-font);
  margin-left: calc(var(--standard-margin) / 2);
}
