.Your-Account {
  height: 90px;
  display: flex;
  align-items: center;
}

.Your-Account__photo {
  height: 50px;
}

.Your-Account__text {
  text-decoration: none;
  color: #329eff;
  font-size: 15px;
  margin-left: 10px;
}
