.Your-Account {
  height: 90px;
  display: flex;
  align-items: center;
}

.Your-Account__photo {
  height: 50px;
}

.Your-Account__text {
  text-decoration: none;
  color: var(--link-color);
  font-size: var(--standard-font);
  margin-left: 10px;
}
