.friend-item {
  width: var(--max-width);
  display: flex;
  margin-bottom: calc(var(--standard-margin) * 2);
  margin-left: var(--standard-margin);
  justify-content: flex-start;
  list-style-type: none;

  &__photo {
    height: 125px;
  }

  &__text-part {
    margin-left: var(--standard-margin);

    .text-part__ns {
      font-size: 27px;

      .ns__txt {
        margin: 0;
      }
    }
  }

  .button--learn {
    margin-top: var(--standard-margin);
    font-size: calc(var(--standard-font) - 2px);
    padding: var(--global-main-btn-padding-sm);
    width: 170px;
  }
}
