.PageName {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageName__Name {
  display: block;
  width: 150px;
  margin: 5px;
  font-size: 40px;
  font-weight: 600;
}

.PageName__logo {
  height: 100%;
  margin-left: 10px;
}
