.page-name {
  display: flex;
  align-items: center;
  justify-content: center;

  &__name {
    display: block;
    width: auto;
    margin: 5px;
    font-size: 40px;
    font-weight: 600;
  }

  &__logo {
    width: 55px;
    height: 55px;
    margin-left: calc(var(--standard-margin) / 2);
  }
}
