:root {
  --standard-margin: 20px;

  --max-z-index: 2147483638;

  --standard-font: 16px;

  --global-color-link-blue: #329eff;

  --global-color-border-gray: #dddddd;

  --global-color-bg-white: #ffffff;

  --global-main-btn-padding: 15px 23px;
  --global-main-btn-padding-sm: 10px 23px;

  --global-main-btn-bg: 11.31deg, #7dc4ff 0%, #6700ff 99.51%;

  --global-main-btn-bg-hover: 191.31deg, #7dc4ff 0%, #7dc4ff 100%;

  --global-main-btn-bg-active: #6700ff;
}
