.button {
  width: auto;
  height: auto;
  padding: var(--global-main-btn-padding);
  background: linear-gradient(var(--global-main-btn-bg));
  border-radius: 21px;
  border: none;
  outline: none;
  font-size: var(--standard-font);
  align-items: center;
  text-align: center;
  color: var(--global-color-bg-white);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(var(--global-main-btn-bg-hover));
}

.button:active {
  background: var(--global-main-btn-bg-active);
}
