.ButtonContainer {
  width: 200px;
  margin: 5px;
}
.ButtonContainer__Button {
  width: var(--global-button-width-md);
  height: var(--global-button-height-md);
  background: var(--global-main-btn-bg);
  border-radius: 21px;
  border: none;
  outline: none;
  font-size: var(--standard-font);
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: var(--global-color-bg-white);

  cursor: pointer;
}

.ButtonContainer__Button:hover {
  background: var(--global-main-btn-bg-hover);
}

.ButtonContainer__Button:active {
  background: var(--global-main-btn-bg-active);
}
