.text-part__buttons-group {
    display: flex;
    justify-content: space-between;
    width: 110%;
  }
  
.buttons-group__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105%;
  }