.friend-item {
  width: 100%;
  display: flex;
  margin-bottom: calc(var(--standard-margin) * 2);
  margin-left: calc(var(--standard-margin) * (-1));
  justify-content: center;
  list-style-type: none;
}

.friend-item__photo {
  height: 120px;
}

.friend-item__text-part {
  margin-left: var(--standard-margin);
}

.text-part__ns {
  font-size: 27px;
}

.ns__txt {
  margin: 0;
}

.button-size {
  margin-top: var(--standard-margin);
  font-size: 12px;
  padding: var(--global-main-btn-padding-sm);
}

.button-size__txt {
  margin: 0;
}
