.blueLink {
  display: block;
  text-decoration: none;
  color: var(--global-color-link-blue);
  font-size: var(--standard-font);

  cursor: pointer;
}

.blueLink:hover {
  color: var(--global-color-link-blue-hover);
}

.blueLink:active {
  color: var(--global-color-link-blue-active);
}

.selected {
  color: var(--global-color-black);
  pointer-events: none;
}

.selected:hover {
  color: var(--global-color-black);
}
